body{
	background-color: white;
	width:100%;
	height:100%;
	margin:0;
	font-family: 'Spectral SC', serif;
	font-family: 'Raleway', sans-serif;
}

*{
margin:0;
padding:0px;
}

.container{
	width:100%;
	margin:auto;
	position:relative;
	overflow:hidden;
}

#header{
	font-family: 'Spectral SC', serif;
	position:relative;
	background-color: white;
	color: black;
	margin-left:5%;
	padding:20px 0px;
	text-align: left;
	font-size:20px;
}

#navbar ul{
	background-color:white;
	margin-top: 20px;
	text-align:center;
	position:relative;
}

#navbar li{
	list-style: none;
	display: inline-block;
	padding: 15px 10px;
}

#navbar a{
	color:black;
	text-decoration: none;
	font-size:18px;
	padding:5px;
	border:1px solid black;
}


#title h1{
	font-family: 'Raleway', sans-serif;
	font-size:40px;
	text-align: center;
	color: black;
	padding:0px;
	margin:50px 30px;
}

#main{
	margin:auto;
	margin-top: 20px;
	float:relative;
	width:70%;
	padding: 30px;
	border:1px solid black;
}

#main-footer{
	margin-top:100px;
	left:0;
	right:0;
	bottom:5px;
	text-align: center;
	padding:10px;
	background: white;
	color: black;
}