body{
	background-color: white;
	width:100%;
	height:100%;
	margin:0;
	font-family: 'Oxygen', sans-serif;
}

*{
margin:0;
padding:0px;
}

a:hover{
	color:black;
}

.container{
	width:80%;
	margin:auto;
	position:center;
	overflow:hidden;
}

#main-header{
	background-color: #283747;
	color: white;
	padding:20px 0px;
	text-align: left;
}

#navbar{
	background-color:#AAB7B8;
}

#navbar ul{
	margin-top: 20px;
	text-align:center;
	position:relative;
}

#navbar li{
	list-style: none;
	display: inline-block;
	padding-bottom: 15px;
}

#navbar a{
	color:black;
	text-decoration: none;
	font-size:18px;
	padding-right:50px;
}

#main{
	margin:auto;
	margin-top:100px;
	float:relative;
	width:70%;
	padding: 30px;
	border:5px solid gray;
}

#main-footer{
	background: #283747;
	color: white;
	text-align: center;
	padding:2px;
	margin-top:100px;
}
